@model TheTower.Models.Event

@{
    string source = "";
    switch (Model.RollNumber)
    {
        case 1:
            source += "";
            break;
        case 2:
            break;
        case 3:
            source = "ArrowImg.jpg";
            break;
        case 4:
            source = "EntertainedImg.jpg";
            break;
        case 5:
            source = "holeImg.png";
            break;
        case 6:
            source = "electricityImg.jpg";
            break;
        case 7:            
            break;
        case 8:
            source = "heartImg.png";
            break;
        default:
            break;
    }
}

<div>
    <img id="imgEvent" src="~/images/Events/@source" class="img-responsive" />
    <h2>@Model.Name</h2>
    <p>@Model.Description</p>
    
</div>


