@model IEnumerable<TheTower.Models.Event>
    <div class="row">
        @foreach (var item in Model)
        {

            <p>
                @Html.DisplayFor(modelItem => item.RollNumber) - @Html.DisplayFor(modelItem => item.Name)
            </p>

        }
    </div>
