@model TheTower.Models.Event

@{
    string source = "";
    switch (Model.RollNumber)
    {
        case 1:
            source = "uno-reverse.png";
            break;
        case 2:
            source = "resize.jpg";
            break;
        case 3:
            source = "ArrowImg.jpg";
            break;
        case 4:
            source = "EntertainedImg.jpg";
            break;
        case 5:
            source = "holeImg.png";
            break;
        case 6:
            source = "electricityImg.jpg";
            break;
        case 7:
            source = "resize.jpg";
            break;
        case 8:
            source = "health.png";
            break;
        default:
            break;
    }
}

<div>
    <img src="~/images/Events/@source" class="img-responsive imgEvent" />
    <h2>@Model.Name</h2>
    <p>@Model.Description</p>
    
</div>


