@model IEnumerable<TheTower.Models.Session>
@{
    List<string> images = new List<string>();
    images.Add("bard.jpg");
    images.Add("druid.jpg");
    images.Add("monk.jpg");
    images.Add("SmallWarrior.jpg");
    images.Add("rogue.jpg");
    Random rd = new Random();
}
@foreach (var item in Model)
{
    <div class="row">
        @for (int i = 0; i < item.PlayerQty; i++)
        {
            <div class="col-md-4 divPlayer" >
                <img class="imgChar" src="~/images/Characters/@(images[rd.Next(images.Count)])" />
                <h4>Player @(i+1)</h4>
            </div>
        }
    </div>


}