@model TheTower.Models.Level

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <h3 class="jumbotron">Room @Model.RoomLevel</h3>
</div>
<div class="row">
    <div class="col-lg-4">
        <div id="divCharDet">
            <btn class="btn btn-success" id="btnCharDet">Get Characters</btn>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="col-lg-12">
            <img class="imgVersus" src="~/images/versus.jpeg" />
        </div>
        <div class="col-lg-12">
            <h3>Room Timer</h3>
            <h1 class="jumbotron">00:00</h1>
        </div>
    </div>
    <div class="col-lg-4">
        <div id="divMonDet">
            <btn class="btn btn-success" id="btnMonDet">Get Monster</btn>
        </div>
    </div>
</div>

<script>
        $(document).ready(function () {
        $("#btnMonDet").click(function () {
            $("#divMonDet").load("/Levels/GetMonDetails",
                { id: @Model.ID });
        });

              $("#btnCharDet").click(function () {
            $("#divCharDet").load("/Levels/GetCharDetails",
                { id: @Model.ID });
        });
    });
</script>